## Mounting

In [1]:
from google.colab import drive
drive.mount('/content/drive',force_remount=True)

Mounted at /content/drive

In [2]:
cd /content/drive/My Drive/Colab Notebooks

/content/drive/My Drive/Colab Notebooks

## Import and Loading

In [373]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

from sklearn.ensemble import RandomForestClassifier
from collections import Counter
from sklearn import preprocessing
from sklearn.impute import KNNImputer
from sklearn.feature_selection import SelectKBest, chi2
from sklearn.preprocessing import MinMaxScaler

In [374]:
df      = pd.read_csv("Amex_data/Training_Data_0611N.csv")
columns = df.columns
rows    = len(df)
cols    = len(columns)

### Standardizing Data

In [375]:
df = df.applymap(lambda x: x.strip() if isinstance(x, str) else x)
df = df.replace('-',np.nan)
df = df.replace(',','', regex=True)
df = df.replace('\(','', regex=True)
df = df.replace('\)','', regex=True)
df = df.dropna(how='all')

### Data Type Change

In [376]:
convert_dict1 = {'cust_id': 'string', 
                'profitable_flag': 'string',
                'count_accts': float,
                'cm_age':float ,
                'flag_top_ed_spender':'string', 
                'flag_cust_fee_paid_6m':'string', 
                'pre6m_cust_spend':float,
                'pre6m_cust_roc_cnt':float, 
                'pre6m_cust_non_disc_amt':float,
                'pre6m_cust_non_disc_cnt':float,
                'pre6m_cust_disc_amt':float,
                'pre6m_cust_disc_cnt':float,           
                'pre6m_cust_outbound_amt':float, 
                'pre6m_cust_online_amt':float,
                'pre6m_cust_online_cnt':float,
                'pre6m_cust_travel_amt':float,       
                'pre6m_cust_travel_cnt':float,
                'pre6m_cust_retail_amt':float,       
                'pre6m_cust_retail_cnt':float, 
                'pre6m_cust_myca_active':float,       
                'pre6m_cust_mob_logins':float, 
                'pre6m_total_mc_trs':float,
                'acq_sub_chn':'string',       
                'acq_type_grp':'string', 
                'fee_type_grp':'string', 
                'Cust_tenure':float, 
                'pre6m_spend_active_ind':'string',       
                'highly_utilized_ind':'string', 
                'min_pay_ind':'string', 
                'paid_in_full_ind':'string',       
                'sum_total_line_amt':float, 
                'direct_debit_ind':'string', 
                'referrals':float, 
                'spillover':float,       
                'self_accts':float, 
                'Customer Low Quality indicator':'string', 
                'cdss_most_rcnt_prob':float,      
                'cust_max_credit_12m_amt':float,
                'cust_max_remit_12m_amt':float, 
                'cbr_3_score':float,       
                'cnsumr_chrg_actv_cust_cnt':float,
                'cnsumr_chrg_avg_credit_12m_amt':float,       
                'cnsumr_lend_actv_cust_cnt':float, 
                'cnsumr_lend_tot_util_ratio':float,       
                'sow_revol_avg_paydown_pct':float, 
                'sow_tot_annual_ext_pmt_amt':float,       
                'sow_tot_revol_bal_amt':float, 
                'sow_tot_revol_cnt':float, 
                'sow_tot_trans_bal_amt':float,
                'sow_tot_trans_cnt':float
               } 

convert_dict = {'cust_id': 'string', 
                'profitable_flag': 'string',
                'count_accts': 'Int64',
                'cm_age':'Int64' ,
                'flag_top_ed_spender':'string', 
                'flag_cust_fee_paid_6m':'string', 
                'pre6m_cust_spend':'Int64',
                'pre6m_cust_roc_cnt':'Int64', 
                'pre6m_cust_non_disc_amt':'Int64',
                'pre6m_cust_non_disc_cnt':'Int64',
                'pre6m_cust_disc_amt':'Int64',
                'pre6m_cust_disc_cnt':'Int64',           
                'pre6m_cust_outbound_amt':'Int64', 
                'pre6m_cust_online_amt':'Int64',
                'pre6m_cust_online_cnt':'Int64',
                'pre6m_cust_travel_amt':'Int64',       
                'pre6m_cust_travel_cnt':'Int64',
                'pre6m_cust_retail_amt':'Int64',       
                'pre6m_cust_retail_cnt':'Int64', 
                'pre6m_cust_myca_active':'Int64',       
                'pre6m_cust_mob_logins':'Int64', 
                'pre6m_total_mc_trs':'Int64',
                'acq_sub_chn':'string',       
                'acq_type_grp':'string', 
                'fee_type_grp':'string', 
                'Cust_tenure':'Int64', 
                'pre6m_spend_active_ind':'string',       
                'highly_utilized_ind':'string', 
                'min_pay_ind':'string', 
                'paid_in_full_ind':'string',       
                'sum_total_line_amt':'Int64', 
                'direct_debit_ind':'string', 
                'referrals':'Int64', 
                'spillover':'Int64',       
                'self_accts':'Int64', 
                'Customer Low Quality indicator':'string', 
                'cdss_most_rcnt_prob':'Float64',      
                'cust_max_credit_12m_amt':'Int64',
                'cust_max_remit_12m_amt':'Int64', 
                'cbr_3_score':'Int64',       
                'cnsumr_chrg_actv_cust_cnt':'Int64',
                'cnsumr_chrg_avg_credit_12m_amt':'Int64',       
                'cnsumr_lend_actv_cust_cnt':'Int64', 
                'cnsumr_lend_tot_util_ratio':'Float64',       
                'sow_revol_avg_paydown_pct':'Float64', 
                'sow_tot_annual_ext_pmt_amt':'Int64',       
                'sow_tot_revol_bal_amt':'Int64', 
                'sow_tot_revol_cnt':'Int64', 
                'sow_tot_trans_bal_amt':'Int64',
                'sow_tot_trans_cnt':'Int64'
               }

In [377]:
df = df.astype(convert_dict1) 
df = df.astype(convert_dict) 
print(df.dtypes)

cust_id                            string
profitable_flag                    string
count_accts                         Int64
cm_age                              Int64
flag_top_ed_spender                string
flag_cust_fee_paid_6m              string
pre6m_cust_spend                    Int64
pre6m_cust_roc_cnt                  Int64
pre6m_cust_non_disc_amt             Int64
pre6m_cust_non_disc_cnt             Int64
pre6m_cust_disc_amt                 Int64
pre6m_cust_disc_cnt                 Int64
pre6m_cust_outbound_amt             Int64
pre6m_cust_online_amt               Int64
pre6m_cust_online_cnt               Int64
pre6m_cust_travel_amt               Int64
pre6m_cust_travel_cnt               Int64
pre6m_cust_retail_amt               Int64
pre6m_cust_retail_cnt               Int64
pre6m_cust_myca_active              Int64
pre6m_cust_mob_logins               Int64
pre6m_total_mc_trs                  Int64
acq_sub_chn                        string
acq_type_grp                       string
fee_type_grp                       string
Cust_tenure                         Int64
pre6m_spend_active_ind             string
highly_utilized_ind                string
min_pay_ind                        string
paid_in_full_ind                   string
sum_total_line_amt                  Int64
direct_debit_ind                   string
referrals                           Int64
spillover                           Int64
self_accts                          Int64
Customer Low Quality indicator     string
cdss_most_rcnt_prob               float64
cust_max_credit_12m_amt             Int64
cust_max_remit_12m_amt              Int64
cbr_3_score                         Int64
cnsumr_chrg_actv_cust_cnt           Int64
cnsumr_chrg_avg_credit_12m_amt      Int64
cnsumr_lend_actv_cust_cnt           Int64
cnsumr_lend_tot_util_ratio        float64
sow_revol_avg_paydown_pct         float64
sow_tot_annual_ext_pmt_amt          Int64
sow_tot_revol_bal_amt               Int64
sow_tot_revol_cnt                   Int64
sow_tot_trans_bal_amt               Int64
sow_tot_trans_cnt                   Int64
dtype: object

In [8]:
df.sample(5)

        cust_id profitable_flag  ...  sow_tot_trans_bal_amt  sow_tot_trans_cnt
12276  562667.0             0.0  ...                   <NA>                  0
9227   559618.0             0.0  ...                   <NA>                  0
4107   554498.0             1.0  ...                     17                  2
4668   555059.0             1.0  ...                   <NA>                  0
16082  566473.0             0.0  ...                   <NA>                  0

[5 rows x 50 columns]

### Feature Scaling

In [ ]:
df.describe()

In [ ]:
Counter(df['sow_tot_revol_cnt'])

## Feature Selection

### NULL Dropping

In [378]:
min_drop_percent    = 0.5 # IF number of nulls in column are greater than 50% then drop column
null_cols           = df.isnull().sum().to_dict()
drop_cols           = filter(lambda x:null_cols[x]>min_drop_percent*rows,null_cols.keys())

min_drop_cols       = 20 #If number of NA in a row is greater than this than drop
null_rows           = df.isnull().sum(axis=1).to_dict()
drop_rows           = filter(lambda x:null_rows[x]>=min_drop_cols,null_rows.keys())

In [382]:
df.drop(columns     = drop_cols,inplace=True)
df.drop(index       = drop_rows,inplace=True)

In [391]:
list(drop_cols)

[]

### Graphical Correlation

In [ ]:
df.boxplot(column=['cust_max_credit_12m_amt'], by=['acq_sub_chn'],figsize=(20,8))

In [ ]:
df.boxplot(column=['cust_max_credit_12m_amt'], by=['acq_type_grp'],figsize=(20,8))

In [ ]:
df.boxplot(column=['cust_max_credit_12m_amt'], by=['fee_type_grp'],figsize=(20,8))

In [ ]:
df.isna().sum()

In [ ]:
df.boxplot(column=['sow_tot_trans_bal_amt'], by=['profitable_flag'],figsize=(20,8))

In [ ]:
grouped = df.groupby('profitable_flag')

In [ ]:
grouped.mean()

In [ ]:
grouped.std()

In [ ]:
plot_df = df[['profitable_flag','highly_utilized_ind']]
# plot_df
plot_df.dropna(inplace=True)

In [ ]:
# plot_df
# plt.plot(plot_df['highly_utilized_ind'].to_numpy(),plot_df['profitable_flag'].to_numpy(),'r+')
df.groupby(['profitable_flag','highly_utilized_ind']).size()
# plot_df.groupby(['profitable_flag']).size()

In [ ]:
df.corr()['profitable_flag'].abs().describe()

In [ ]:
# df.corr()['profitable_flag']
# Generate a mask for the upper triangle
mask = np.triu(np.ones_like(df.corr(), dtype=bool))

# Set up the matplotlib figure
f, ax = plt.subplots(figsize=(11, 9))

# Generate a custom diverging colormap
cmap = sns.diverging_palette(230, 20, as_cmap=True)
sns.heatmap(df.corr(), mask=mask, cmap=cmap, vmax=.3, center=0,
            square=True, linewidths=.5, cbar_kws={"shrink": .5})

In [ ]:
grouped = df.groupby('Customer Low Quality indicator')
grouped.mean()

### Impute Values

In [326]:
from sklearn.feature_selection import SelectKBest
from sklearn.feature_selection import chi2
df.isna().sum()

cust_id                              0
profitable_flag                      0
count_accts                          0
cm_age                               0
flag_top_ed_spender                 43
flag_cust_fee_paid_6m                0
pre6m_cust_spend                   431
pre6m_cust_roc_cnt                   0
pre6m_cust_non_disc_amt           1013
pre6m_cust_non_disc_cnt              0
pre6m_cust_disc_amt                530
pre6m_cust_disc_cnt                  0
pre6m_cust_outbound_amt           1999
pre6m_cust_online_amt             1041
pre6m_cust_online_cnt                0
pre6m_cust_travel_amt             1751
pre6m_cust_travel_cnt                0
pre6m_cust_retail_amt              669
pre6m_cust_retail_cnt                0
pre6m_cust_myca_active               0
pre6m_cust_mob_logins                0
pre6m_total_mc_trs                   0
acq_sub_chn                        896
acq_type_grp                       867
fee_type_grp                         0
Cust_tenure                         27
pre6m_spend_active_ind              27
highly_utilized_ind                 27
min_pay_ind                         27
paid_in_full_ind                    27
sum_total_line_amt                1575
direct_debit_ind                    27
referrals                           27
spillover                           27
self_accts                          27
Customer Low Quality indicator      27
cdss_most_rcnt_prob                 10
cust_max_credit_12m_amt           1595
cust_max_remit_12m_amt            1744
cbr_3_score                         10
cnsumr_chrg_actv_cust_cnt           10
cnsumr_lend_actv_cust_cnt           10
cnsumr_lend_tot_util_ratio          10
sow_revol_avg_paydown_pct           10
sow_tot_revol_cnt                   10
sow_tot_trans_cnt                   10
dtype: int64

In [327]:
from pandas.api.types import is_string_dtype
#df1         = df.fillna(-10000)
df1         = df.iloc[:,2:]
calltypes   = df1.dtypes.to_dict()
ClassType   = list(filter(lambda x:is_string_dtype(calltypes[x]),calltypes.keys()))
NumType     = list(filter(lambda x:not is_string_dtype(calltypes[x]),calltypes.keys()))

In [328]:
classdf     = df1[ClassType]
numdf       = df1[NumType]
numdf.fillna(-10000,inplace=True)

/usr/local/lib/python3.6/dist-packages/pandas/core/frame.py:4327: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  downcast=downcast,

In [329]:
imputer     = KNNImputer(n_neighbors=5, weights='uniform', metric='nan_euclidean',missing_values= -10000)
imputer.fit(numdf)
Xtrans      = imputer.transform(numdf)
for i,col in enumerate(numdf.columns):
    df1[col] = Xtrans[:,i]

In [330]:
dataframeimputed=df1[['flag_top_ed_spender',
 'flag_cust_fee_paid_6m',
 'acq_sub_chn',
 'acq_type_grp',
 'fee_type_grp',
 'pre6m_spend_active_ind',
 'highly_utilized_ind',
 'min_pay_ind',
 'paid_in_full_ind',
 'direct_debit_ind',
 'Customer Low Quality indicator']]

In [331]:
newdataframe=df1.drop(['flag_top_ed_spender',
 'flag_cust_fee_paid_6m',
 'acq_sub_chn',
 'acq_type_grp',
 'fee_type_grp',
 'pre6m_spend_active_ind',
 'highly_utilized_ind',
 'min_pay_ind',
 'paid_in_full_ind',
 'direct_debit_ind',
 'Customer Low Quality indicator',''],axis=1)

In [342]:
# df1

       count_accts  cm_age  ... sow_tot_revol_cnt sow_tot_trans_cnt
0              1.0    74.0  ...               0.0               3.0
1              1.0    64.0  ...               2.0               0.0
2              1.0    75.0  ...               0.0               3.0
3              2.0    73.0  ...               0.0               4.0
4              2.0    68.0  ...               5.0              13.0
...            ...     ...  ...               ...               ...
19590          1.0    33.0  ...               0.0               0.0
19591          1.0    71.0  ...               2.0               0.0
19592          1.0    48.0  ...               0.0               0.0
19593          2.0    35.0  ...               0.0               0.0
19594          2.0    39.0  ...               0.0               2.0

[19337 rows x 44 columns]

In [332]:
classdf.fillna('-10000')
classdf.replace('-10000',np.nan)

/usr/local/lib/python3.6/dist-packages/pandas/core/missing.py:49: FutureWarning: elementwise comparison failed; returning scalar instead, but in the future will perform elementwise comparison
  mask = arr == x

      flag_top_ed_spender  ... Customer Low Quality indicator
0                     1.0  ...                            0.0
1                     0.0  ...                            0.0
2                     1.0  ...                            0.0
3                     0.0  ...                            0.0
4                     0.0  ...                            0.0
...                   ...  ...                            ...
19590                 0.0  ...                            0.0
19591                 0.0  ...                            0.0
19592                 1.0  ...                            0.0
19593                 0.0  ...                            0.0
19594                 1.0  ...                            0.0

[19337 rows x 11 columns]

In [344]:
newdataframe.columns

Index(['count_accts', 'cm_age', 'pre6m_cust_spend', 'pre6m_cust_roc_cnt',
       'pre6m_cust_non_disc_amt', 'pre6m_cust_non_disc_cnt',
       'pre6m_cust_disc_amt', 'pre6m_cust_disc_cnt', 'pre6m_cust_outbound_amt',
       'pre6m_cust_online_amt', 'pre6m_cust_online_cnt',
       'pre6m_cust_travel_amt', 'pre6m_cust_travel_cnt',
       'pre6m_cust_retail_amt', 'pre6m_cust_retail_cnt',
       'pre6m_cust_myca_active', 'pre6m_cust_mob_logins', 'pre6m_total_mc_trs',
       'Cust_tenure', 'sum_total_line_amt', 'referrals', 'spillover',
       'self_accts', 'cdss_most_rcnt_prob', 'cust_max_credit_12m_amt',
       'cust_max_remit_12m_amt', 'cbr_3_score', 'cnsumr_chrg_actv_cust_cnt',
       'cnsumr_chrg_avg_credit_12m_amt', 'cnsumr_lend_actv_cust_cnt',
       'cnsumr_lend_tot_util_ratio', 'sow_revol_avg_paydown_pct',
       'sow_tot_annual_ext_pmt_amt', 'sow_tot_revol_bal_amt',
       'sow_tot_revol_cnt', 'sow_tot_trans_bal_amt', 'sow_tot_trans_cnt'],
      dtype='object')

In [333]:
def imputecategorical(classdf,newdataframe,colname):
    result=pd.concat([newdataframe,classdf[colname]],axis=1)
    
    classifier=result[result[colname].notnull()]
    clf = RandomForestClassifier(max_depth=15, random_state=0)
    X=classifier.iloc[:,0:-1]
    y=classifier.iloc[:,-1]
    clf.fit(X, y)
    # to_impute=result[result[colname]].isnull()
    # to_impute[colname]=clf.predict(to_impute.iloc[:,0:33])

    # print(to_impute.index)

    # join=[classifier,to_impute]
    return clf.predict(result[result[colname].isnull()].iloc[:,0:-1]),clf

In [334]:
A={}
IMPUTER = {}
for col in classdf.columns:
    if classdf[col].isnull().sum()!=0:
         A[col],IMPUTER[col]=imputecategorical(classdf,newdataframe,col)

In [335]:
for key in A.keys():
    j = 0
    for idx in df1[df1[key].isnull()].index:
        df1[key][idx] = A[key][j]
        j+=1

### Outlier Removal

In [27]:
df2=df1

In [28]:
def outliers(colnames,outlier):
    threshold   = 3
    mean_value  = df1[colnames].mean()
    standard_deviation=df1[colnames].std()

    for i in range(len(df[colnames])):
        z_score=(df1[colnames].iloc[i]-mean_value)/standard_deviation
        if(abs(z_score)>threshold):
            df2[colnames].iloc[i]=np.nan
    return 0

In [29]:
for col in numdf.columns:
    outliers(col,[])

/usr/local/lib/python3.6/dist-packages/pandas/core/indexing.py:670: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  iloc._setitem_with_indexer(indexer, value)

In [33]:
imputed_outlier = pd.concat([df2,df['profitable_flag']],axis=1)
# new_dataframe.fillna(-10000)
imputed_outlier.dropna(inplace=True)
imputed_outlier

       count_accts  cm_age  ... sow_tot_trans_cnt profitable_flag
0              1.0    74.0  ...               3.0             0.0
13             1.0    64.0  ...               0.0             0.0
18             1.0    74.0  ...               0.0             0.0
24             1.0    64.0  ...               0.0             0.0
27             1.0    69.0  ...               0.0             0.0
...            ...     ...  ...               ...             ...
19590          1.0    33.0  ...               0.0             1.0
19591          1.0    71.0  ...               0.0             0.0
19592          1.0    48.0  ...               0.0             0.0
19593          2.0    35.0  ...               0.0             0.0
19594          2.0    39.0  ...               2.0             0.0

[14737 rows x 45 columns]

## Feature Selection

In [215]:
classdf = imputed_outlier[ClassType]
numdf   = imputed_outlier[NumType]

In [216]:
classdf.dtypes

flag_top_ed_spender               string
flag_cust_fee_paid_6m             string
acq_sub_chn                       string
acq_type_grp                      string
fee_type_grp                      string
pre6m_spend_active_ind            string
highly_utilized_ind               string
min_pay_ind                       string
paid_in_full_ind                  string
direct_debit_ind                  string
Customer Low Quality indicator    string
dtype: object

In [217]:
t = ['acq_sub_chn','acq_type_grp','fee_type_grp']
for cols in t:
    # dummydf= pd.get_dummies(classdf[cols],drop_first=True)
    lst_10=classdf[cols].unique()
    for categories in lst_10:
        classdf[cols[0]+cols[-2:]+'_'+categories]=np.where(classdf[cols]==categories,1,0)
    # [d]
classdf = classdf.drop(columns=t)

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [218]:
classdf.head(100)

    flag_top_ed_spender flag_cust_fee_paid_6m  ... frp_reduced_fee frp_unknown
0                   1.0                   0.0  ...               0           0
13                  0.0                   0.0  ...               0           0
18                  1.0                   1.0  ...               0           0
24                  0.0                   1.0  ...               1           0
27                  0.0                   1.0  ...               0           0
..                  ...                   ...  ...             ...         ...
278                 0.0                   0.0  ...               0           0
280                 0.0                   0.0  ...               0           0
287                 1.0                   0.0  ...               0           0
292                 0.0                   0.0  ...               0           0
295                 0.0                   1.0  ...               0           0

[100 rows x 36 columns]

In [219]:
numdf.shape

(14737, 33)

In [220]:
scaler = MinMaxScaler()
scaler.fit(numdf)
narray = scaler.transform(numdf)
# numdf = pd.DataFrame(columns=numdf.columns)

In [221]:
for i,column in enumerate(numdf.columns):
    numdf[column] = narray[:,i]

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [222]:
numdf

       count_accts    cm_age  ...  sow_tot_revol_cnt  sow_tot_trans_cnt
0              0.0  0.942308  ...           0.000000               0.75
13             0.0  0.750000  ...           0.000000               0.00
18             0.0  0.942308  ...           0.000000               0.00
24             0.0  0.750000  ...           0.000000               0.00
27             0.0  0.846154  ...           0.666667               0.00
...            ...       ...  ...                ...                ...
19590          0.0  0.153846  ...           0.000000               0.00
19591          0.0  0.884615  ...           0.666667               0.00
19592          0.0  0.442308  ...           0.000000               0.00
19593          1.0  0.192308  ...           0.000000               0.00
19594          1.0  0.269231  ...           0.000000               0.50

[14737 rows x 33 columns]

In [223]:
final_df = pd.concat([classdf,numdf,imputed_outlier['profitable_flag']],axis=1)

In [225]:
for colname,Type in final_df.dtypes.to_dict().items():
    if(is_string_dtype(Type)==True):
        final_df[colname]=pd.to_numeric(final_df[colname])

In [432]:
X=final_df.iloc[:,:69]
y=final_df.iloc[:,-1]
ordered_rank_features=SelectKBest(score_func=chi2,k=15)
ordered_feature=ordered_rank_features.fit(X,y)
dfscores=pd.DataFrame(ordered_feature.scores_,columns=["Score"])
dfcols =pd.DataFrame(X.columns,columns=["Colname"])

scores_df = pd.concat([dfscores,dfcols],axis=1)

In [433]:
full_df =   final_df[scores_df.nlargest(15,'Score')['Colname']]
full_df =   pd.concat([full_df , y],axis=1)

# Classifier

In [434]:
from sklearn.model_selection import KFold
RFC = RandomForestClassifier(max_depth=80, random_state=0)
X=full_df.iloc[:,0:-1]
y=full_df.iloc[:,-1]

# kf = KFold(n_splits=5)
# for train_index, test_index in kf.split(X):
    # print("TRAIN:", train_index, "TEST:", test_index)
    # X_train, X_test = X.iloc[train_index], X.iloc[test_index]
    # y_train, y_test = y.iloc[train_index], y.iloc[test_index]
RFC.fit(X, y)
print(RFC.score(X, y))

1.0

In [451]:
sum(RFC.predict(X))

2745.0

In [285]:
from sklearn.linear_model import LogisticRegression
LRC = LogisticRegression(random_state=0)
# X=full_df.iloc[:,0:-1]
# y=full_df.iloc[:,-1]

# kf = KFold(n_splits=20)
# for train_index, test_index in kf.split(X):
    # print("TRAIN:", train_index, "TEST:", test_index)
    # X_train, X_test = X.iloc[train_index], X.iloc[test_index]
    # y_train, y_test = y.iloc[train_index], y.iloc[test_index]
LRC.fit(X_train, y_train)

print(LRC.score(X_test, y_test))

0.842391304347826

#Evaluation

In [399]:
eval_df = pd.read_csv("Amex_data/Evaluation_Data_0611_Nv.csv")

In [400]:
# df      = pd.read_csv("Amex_data/Training_Data_0611N.csv")
columns = eval_df.columns
rows    = len(eval_df)
cols    = len(columns)

eval_df = eval_df.applymap(lambda x: x.strip() if isinstance(x, str) else x)
eval_df = eval_df.replace('-',np.nan)
eval_df = eval_df.replace(',','', regex=True)
eval_df = eval_df.replace('\(','', regex=True)
eval_df = eval_df.replace('\)','', regex=True)
# eval_df = eval_df.dropna(how='all')

In [401]:
list(drop_cols)

[]

In [402]:
convert_dict1 = {'cust_id': 'string', 
                'count_accts': float,
                'cm_age':float ,
                'flag_top_ed_spender':'string', 
                'flag_cust_fee_paid_6m':'string', 
                'pre6m_cust_spend':float,
                'pre6m_cust_roc_cnt':float, 
                'pre6m_cust_non_disc_amt':float,
                'pre6m_cust_non_disc_cnt':float,
                'pre6m_cust_disc_amt':float,
                'pre6m_cust_disc_cnt':float,           
                'pre6m_cust_outbound_amt':float, 
                'pre6m_cust_online_amt':float,
                'pre6m_cust_online_cnt':float,
                'pre6m_cust_travel_amt':float,       
                'pre6m_cust_travel_cnt':float,
                'pre6m_cust_retail_amt':float,       
                'pre6m_cust_retail_cnt':float, 
                'pre6m_cust_myca_active':float,       
                'pre6m_cust_mob_logins':float, 
                'pre6m_total_mc_trs':float,
                'acq_sub_chn':'string',       
                'acq_type_grp':'string', 
                'fee_type_grp':'string', 
                'Cust_tenure':float, 
                'pre6m_spend_active_ind':'string',       
                'highly_utilized_ind':'string', 
                'min_pay_ind':'string', 
                'paid_in_full_ind':'string',       
                'sum_total_line_amt':float, 
                'direct_debit_ind':'string', 
                'referrals':float, 
                'spillover':float,       
                'self_accts':float, 
                'Customer Low Quality indicator':'string', 
                'cdss_most_rcnt_prob':float,      
                'cust_max_credit_12m_amt':float,
                'cust_max_remit_12m_amt':float, 
                'cbr_3_score':float,       
                'cnsumr_chrg_actv_cust_cnt':float,
                'cnsumr_chrg_avg_credit_12m_amt':float,       
                'cnsumr_lend_actv_cust_cnt':float, 
                'cnsumr_lend_tot_util_ratio':float,       
                'sow_revol_avg_paydown_pct':float, 
                'sow_tot_annual_ext_pmt_amt':float,       
                'sow_tot_revol_bal_amt':float, 
                'sow_tot_revol_cnt':float, 
                'sow_tot_trans_bal_amt':float,
                'sow_tot_trans_cnt':float
               } 

convert_dict = {'cust_id': 'string', 
                'count_accts': 'Int64',
                'cm_age':'Int64' ,
                'flag_top_ed_spender':'string', 
                'flag_cust_fee_paid_6m':'string', 
                'pre6m_cust_spend':'Int64',
                'pre6m_cust_roc_cnt':'Int64', 
                'pre6m_cust_non_disc_amt':'Int64',
                'pre6m_cust_non_disc_cnt':'Int64',
                'pre6m_cust_disc_amt':'Int64',
                'pre6m_cust_disc_cnt':'Int64',           
                'pre6m_cust_outbound_amt':'Int64', 
                'pre6m_cust_online_amt':'Int64',
                'pre6m_cust_online_cnt':'Int64',
                'pre6m_cust_travel_amt':'Int64',       
                'pre6m_cust_travel_cnt':'Int64',
                'pre6m_cust_retail_amt':'Int64',       
                'pre6m_cust_retail_cnt':'Int64', 
                'pre6m_cust_myca_active':'Int64',       
                'pre6m_cust_mob_logins':'Int64', 
                'pre6m_total_mc_trs':'Int64',
                'acq_sub_chn':'string',       
                'acq_type_grp':'string', 
                'fee_type_grp':'string', 
                'Cust_tenure':'Int64', 
                'pre6m_spend_active_ind':'string',       
                'highly_utilized_ind':'string', 
                'min_pay_ind':'string', 
                'paid_in_full_ind':'string',       
                'sum_total_line_amt':'Int64', 
                'direct_debit_ind':'string', 
                'referrals':'Int64', 
                'spillover':'Int64',       
                'self_accts':'Int64', 
                'Customer Low Quality indicator':'string', 
                'cdss_most_rcnt_prob':'Float64',      
                'cust_max_credit_12m_amt':'Int64',
                'cust_max_remit_12m_amt':'Int64', 
                'cbr_3_score':'Int64',       
                'cnsumr_chrg_actv_cust_cnt':'Int64',
                'cnsumr_chrg_avg_credit_12m_amt':'Int64',       
                'cnsumr_lend_actv_cust_cnt':'Int64', 
                'cnsumr_lend_tot_util_ratio':'Float64',       
                'sow_revol_avg_paydown_pct':'Float64', 
                'sow_tot_annual_ext_pmt_amt':'Int64',       
                'sow_tot_revol_bal_amt':'Int64', 
                'sow_tot_revol_cnt':'Int64', 
                'sow_tot_trans_bal_amt':'Int64',
                'sow_tot_trans_cnt':'Int64'
               }

In [403]:
eval_df = eval_df.astype(convert_dict1) 
eval_df = eval_df.astype(convert_dict) 
from pandas.api.types import is_string_dtype

eval_df.drop(columns     = ['cnsumr_chrg_avg_credit_12m_amt',
 'sow_tot_annual_ext_pmt_amt',
 'sow_tot_revol_bal_amt',
 'sow_tot_trans_bal_amt'],inplace=True)

#df1         = df.fillna(-10000)
eval_df1         = eval_df.iloc[:,1:]
# calltypes   = eval_df1.dtypes.to_dict()
# ClassType   = list(filter(lambda x:is_string_dtype(calltypes[x]),calltypes.keys()))
# NumType     = list(filter(lambda x:not is_string_dtype(calltypes[x]),calltypes.keys()))

classeval_df     = eval_df1[ClassType]
numeval_df       = eval_df1[NumType]
numeval_df.fillna(-10000,inplace=True)

# imputer     = KNNImputer(n_neighbors=5, weights='uniform', metric='nan_euclidean',missing_values= -10000)
imputer.fit(numeval_df)
eval_Xtrans      = imputer.transform(numeval_df)
for i,col in enumerate(numeval_df.columns):
    eval_df1[col] = eval_Xtrans[:,i]

/usr/local/lib/python3.6/dist-packages/pandas/core/frame.py:4327: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  downcast=downcast,

In [354]:
def imputecategorical1(classdf,newdataframe,colname):
    result=pd.concat([newdataframe,classdf[colname]],axis=1)
    
    classifier=result[result[colname].notnull()]
    clf = RandomForestClassifier(max_depth=15, random_state=0)
    X=classifier.iloc[:,0:-1]
    y=classifier.iloc[:,-1]
    clf.fit(X, y)
    # to_impute=result[result[colname]].isnull()
    # to_impute[colname]=clf.predict(to_impute.iloc[:,0:33])

    # print(to_impute.index)

    # join=[classifier,to_impute]
    return clf.predict(result[result[colname].isnull()].iloc[:,0:-1])

In [406]:
newdataframe=eval_df1.drop(['flag_top_ed_spender',
 'flag_cust_fee_paid_6m',
 'acq_sub_chn',
 'acq_type_grp',
 'fee_type_grp',
 'pre6m_spend_active_ind',
 'highly_utilized_ind',
 'min_pay_ind',
 'paid_in_full_ind',
 'direct_debit_ind',
 'Customer Low Quality indicator'],axis=1)

classeval_df.fillna('-10000')
classeval_df.replace('-10000',np.nan)

X={}
for col in classeval_df.columns:
    if classeval_df[col].isnull().sum()!=0:
        # X[col]= IMPUTER[col].predict(newdataframe[newdataframe[colname].isnull()])
        X[col]=imputecategorical1(classeval_df,newdataframe,col)
for key in X.keys():
    j = 0
    for idx in eval_df1[eval_df1[key].isnull()].index:
        eval_df1[key][idx] = X[key][j]
        j+=1

/usr/local/lib/python3.6/dist-packages/pandas/core/missing.py:49: FutureWarning: elementwise comparison failed; returning scalar instead, but in the future will perform elementwise comparison
  mask = arr == x

In [408]:
classeval_df = eval_df1[ClassType]
numevaldf   = eval_df1[NumType]
t = ['acq_sub_chn','acq_type_grp','fee_type_grp']
for cols in t:
    # dummydf= pd.get_dummies(classeval_df[cols],drop_first=True)
    lst_10=classeval_df[cols].unique()
    for categories in lst_10:
        classeval_df[cols[0]+cols[-2:]+'_'+categories]=np.where(classeval_df[cols]==categories,1,0)
    # [d]
classeval_df = classeval_df.drop(columns=t)

scaler = MinMaxScaler()
scaler.fit(numevaldf)
narray = scaler.transform(numevaldf)

for i,column in enumerate(numevaldf.columns):
    numevaldf[column] = narray[:,i]

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:17: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [414]:
final_eval_df

     flag_top_ed_spender  ... sow_tot_trans_cnt
0                    0.0  ...          0.000000
1                    0.0  ...          0.000000
2                    1.0  ...          0.000000
3                    1.0  ...          0.000000
4                    0.0  ...          0.000000
...                  ...  ...               ...
4995                 1.0  ...          0.114286
4996                 1.0  ...          0.000000
4997                 0.0  ...          0.000000
4998                 0.0  ...          0.000000
4999                 1.0  ...          0.000000

[5000 rows x 67 columns]

In [415]:
final_eval_df = pd.concat([classeval_df,numevaldf],axis=1)
for colname,Type in final_eval_df.dtypes.to_dict().items():
    if(is_string_dtype(Type)==True):
        final_eval_df[colname]=pd.to_numeric(final_eval_df[colname])

In [420]:
final_eval_df.columns

Index(['flag_top_ed_spender', 'flag_cust_fee_paid_6m',
       'pre6m_spend_active_ind', 'highly_utilized_ind', 'min_pay_ind',
       'paid_in_full_ind', 'direct_debit_ind',
       'Customer Low Quality indicator', 'ahn_Paid Search', 'ahn_MGM',
       'ahn_Unreferred', 'ahn_E-Mails', 'ahn_Direct', 'ahn_In House',
       'ahn_Partner', 'ahn_Affiliates', 'ahn_Media', 'ahn_Search', 'ahn_Email',
       'ahn_PDB Personalized', 'ahn_Interactive', 'ahn_Non-PDB Personalized',
       'ahn_Outsourced', 'ahn_Partnerships - Other', 'ahn_DM',
       'ahn_Natural Referral', 'ahn_Partnerships - In Store', 'arp_external',
       'arp_spillover', 'arp_others', 'frp_no_fee', 'frp_reduced_fee',
       'frp_full_fee', 'frp_unknown', 'count_accts', 'cm_age',
       'pre6m_cust_spend', 'pre6m_cust_roc_cnt', 'pre6m_cust_non_disc_amt',
       'pre6m_cust_non_disc_cnt', 'pre6m_cust_disc_amt', 'pre6m_cust_disc_cnt',
       'pre6m_cust_outbound_amt', 'pre6m_cust_online_amt',
       'pre6m_cust_online_cnt', 'pre6m_cust_travel_amt',
       'pre6m_cust_travel_cnt', 'pre6m_cust_retail_amt',
       'pre6m_cust_retail_cnt', 'pre6m_cust_myca_active',
       'pre6m_cust_mob_logins', 'pre6m_total_mc_trs', 'Cust_tenure',
       'sum_total_line_amt', 'referrals', 'spillover', 'self_accts',
       'cdss_most_rcnt_prob', 'cust_max_credit_12m_amt',
       'cust_max_remit_12m_amt', 'cbr_3_score', 'cnsumr_chrg_actv_cust_cnt',
       'cnsumr_lend_actv_cust_cnt', 'cnsumr_lend_tot_util_ratio',
       'sow_revol_avg_paydown_pct', 'sow_tot_revol_cnt', 'sow_tot_trans_cnt'],
      dtype='object')

In [429]:
scores_df.nlargest(20,'Score')['Colname']

34              frp_reduced_fee
42          pre6m_cust_disc_amt
38             pre6m_cust_spend
47        pre6m_cust_travel_amt
48        pre6m_cust_travel_cnt
43          pre6m_cust_disc_cnt
45        pre6m_cust_online_amt
49        pre6m_cust_retail_amt
44      pre6m_cust_outbound_amt
16                   ahn_Direct
39           pre6m_cust_roc_cnt
60      cust_max_credit_12m_amt
61       cust_max_remit_12m_amt
40      pre6m_cust_non_disc_amt
46        pre6m_cust_online_cnt
26                  ahn_E-mails
50        pre6m_cust_retail_cnt
41      pre6m_cust_non_disc_cnt
0           flag_top_ed_spender
63    cnsumr_chrg_actv_cust_cnt
Name: Colname, dtype: object

In [439]:
full_eval_df =   final_eval_df[scores_df.nlargest(15,'Score')['Colname']]

full_eval_df['EVAL']=RFC.predict(full_eval_df)

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until

In [440]:
full_eval_df

      frp_reduced_fee  pre6m_cust_disc_amt  ...  pre6m_cust_online_cnt  EVAL
0                   0             0.015850  ...               0.051433   0.0
1                   1             0.000567  ...               0.000000   0.0
2                   0             0.002364  ...               0.017634   0.0
3                   1             0.015704  ...               0.053637   0.0
4                   0             0.003079  ...               0.010287   0.0
...               ...                  ...  ...                    ...   ...
4995                0             0.002338  ...               0.005878   0.0
4996                0             0.002256  ...               0.042616   0.0
4997                1             0.004598  ...               0.121234   0.0
4998                0             0.001105  ...               0.008817   0.0
4999                0             0.001817  ...               0.030860   0.0

[5000 rows x 16 columns]

In [437]:
or_df = pd.read_csv("Amex_data/Evaluation_Data_0611_Nv.csv")

In [443]:
pd.concat([or_df,full_eval_df['EVAL']],axis=1)

      cust_id  count_accts  ...  sow_tot_trans_cnt  EVAL
0      569986            1  ...                0.0   0.0
1      569987            2  ...                NaN   0.0
2      569988            2  ...                0.0   0.0
3      569989            1  ...                0.0   0.0
4      569990            1  ...                0.0   0.0
...       ...          ...  ...                ...   ...
4995   574981            1  ...                NaN   0.0
4996   574982            1  ...                0.0   0.0
4997   574983            1  ...                0.0   0.0
4998   574984            1  ...                0.0   0.0
4999   574985            2  ...                0.0   0.0

[5000 rows x 50 columns]

In [455]:
A[['cust_id','EVAL']].to_csv('file1.csv')

In [452]:
sum(RFC.predict(full_eval_df))

ValueError: ignored

In [453]:
full_eval_df['EVAL'].sum()

14.0